.sidebar{
    position: relative;
    width:280px;
    min-height: 100vh;
    background-color: var(--color-grey-light-1);
    display: flex;
    flex-direction: column;
    transition: all .3s ease;
    padding: 0 1.25rem;
    color: var(--color-grey-dark-1);
    z-index: 1;
    min-width: 280px;
    &.fixed{
        position: fixed;
        z-index: 1030;

        
    }

    @media only screen and (max-width:1200px){
        @include collapsedSidebar;
    }

    @media only screen and (max-width:900px){
        display: none;
    }
    

    &.closed{
        @include collapsedSidebar;
    }

    &-toggle{
        
        
        transition: margin .3s ease;
        line-height: 1;
        text-align: center;
        transition: right .3s ease;
        margin-left: -4rem;
        @media only screen and (max-width:1200px){
            display: none;
        }

        &-icon{
            width: 1.5rem;
            height: 1.5rem;
            fill: var(--color-grey-dark-4);
            cursor: pointer;

            &:hover{
                fill: $color-primary;
            }
        }
    }

    &-header{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 1rem 0;
        
        padding-top: .8125rem;
        padding-bottom: .825rem;
        



        

        &-heading{
            display: flex;
            flex-grow: 1;
            align-items: center;
            justify-content: flex-start;
            overflow: hidden;
            transition: margin .3s ease,width .3s ease, padding .3s ease;
            flex-wrap: nowrap;
            font-size: larger;

            &-icon{
                
                transition: margin .3s ease;
                margin-right: .5rem;
                
            }
            

            &-text{
                
                white-space: nowrap;
                overflow: hidden;
                padding: 0;
                
                overflow: hidden;
                width: 80%;
                transition: margin .3s ease,width .3s ease, padding .3s ease;
                display: flex;
                flex-direction: column;
                font-size: 14px;
                font-weight: 500;

                &-email{
                    color: var(--color-grey-dark-4)
                }
            }

            
        }

        
    }

    &-search{
        padding: 1.25rem 0;

        &-input{
            padding-top: .75rem;
            padding-bottom: .75rem;
        }
    }

    &-link{
        display: flex;
        padding: .625rem 0;
        color: var(--color-grey-dark-1);
        text-decoration: none;
        align-items: center;
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
        padding-right: .25rem;
        border-radius: 8px;
        margin-bottom: 8px;
        
        &:hover, &.selected{
            background-color: rgba($color-primary, .08);
            color: var(--color-grey-dark-1);

            
        }
        &.selected{
            background-color: rgba($color-primary, .3); 
        }
        
        transition: margin .3s ease,width .3s ease, padding .3s ease;
        &-text{
            margin-left: 1rem;
            overflow: hidden;
            vertical-align: middle;
            align-self: center;
            transition: margin .3s ease,width .3s ease, padding .3s ease;
            padding: 0;
            text-overflow: ellipsis;
            
            width: 50%;
        }

        &-icon{
            width: 16px;
            height: 1rem;
            transition: margin .3s ease,width .3s ease, padding .3s ease;
            vertical-align: baseline;
            
            margin-left: .5rem;

            &-expand{
                margin-left: auto;
                transition: margin .3s ease,width .3s ease, padding .3s ease;
                fill: var(--color-grey-dark-2);
                
            }
        }

            
    }

    & .divider{
        background-color: #e5e5e5;
        border-bottom: 1px solid #ffffff;
        height: 1px;
        overflow: hidden;
    }
}

.loader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(#fff, .35);
    z-index: 2030;
    display: flex;
    align-items: center;
    justify-content: center;
     

    & .spinner-border{
        width: 5rem;
        height: 5rem;
        border-width: .5rem;
    }
}
.btn.btn-primary{
    background-color: $color-primary;
    border-color: $color-primary;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    background-color: $color-primary;


    &:focus{
        box-shadow: 0 0 0 .25rem rgba($color-primary, .5);
    }

    &.add-button{
        align-self: flex-start;
        margin-bottom: .5rem;
    }
}
.task{
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) backwards;
    border-radius: 1rem !important;
    align-items: center;
    font-size: 14px;
    flex-shrink: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background: var(--color-grey-light-1);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    &:not(:first-child){
        margin-top: .5rem;
    }
    &>*:not(:last-child){
        
    }

    &:hover{
        .task-actions-icon{
            opacity: 1;
        }
    }
    
    &-check{
        align-self: center;
        width: 5%;
    }

    &-details{
        width: 25%;
        max-width: 25%;
        display: flex;
        flex-direction: column;
        font-weight: 500;
        
        color: var(--color-grey-dark-1);
        justify-content: space-between;
        line-height: 1;
        align-self: stretch;
        &-name{
            margin-bottom: .5rem;
            &[contenteditable="true"] {
                border: 1px dashed $color-primary;
            }
        }
        &-date{
            color: var(--color-grey-dark-4);
            &[contenteditable="true"] {
                border: 1px dashed $color-primary;
            }
        }
    }

    &-description{
        width: 35%;
        font-weight: 400;
        flex-grow: 1;
        color: var(--color-grey-dark-1);
        &[contenteditable="true"] {
            border: 1px dashed $color-primary;
        }
        max-width: 35%;
    }

    &-actions{
        margin-left: auto;
        align-self: center;
        display: flex;
        width: 10%;
        justify-content: flex-end;
        @media only screen and (max-width:900px){
            flex-direction: column;
            justify-content: space-between;
        }
        &-icon{
            opacity: 0;
            padding: 0 !important;
            text-align: center;
            transition: opacity .3s ease;
            @media only screen and (max-width:900px){
                opacity: 1;
            }
            &:not(:last-child){
                margin-right: .5rem;

                @media only screen and (max-width:900px){
                    margin-right: 0;
                }
            
            }

            &:not(:first-child){
                

                @media only screen and (max-width:900px){
                    margin-top: .25rem;
                }
            
            }

            &.true{
                opacity: 1;
            }

            & svg{
                cursor: pointer;
                @media only screen and (max-width:900px){
                    width: 1.125rem;
                    height: 1.125rem;
                    &:not(:first-child){
                        margin-top: .75rem;
                    }
                }
                
            }

            &-delete{
                fill: #ffc107;
                transition: all .3s ease;
                &:hover{
                    fill: darken(#ffc107, 20%);
                }

                &:active{
                    fill: #ffc107;
                    transform: scale(0.95) translateY(2px);  
                }
            }

            &-complete{
                fill: $color-primary;
                transition: all .3s ease;
                &:hover{
                    fill: darken($color-primary, 20%);  
                }

                &:active{
                    fill: $color-primary;
                    transform: scale(0.95) translateY(2px); 
                }
            }

            &-loading{
                width: 1rem;
                height: 1rem;
                vertical-align: middle;
            }

            &-importance{
                fill: #F85977;
                transition: all .3s ease;
                

                &:hover{
                    fill: darken(#F85977, 20%); 
                }

                &:active{
                    fill: #F85977;
                    transform: scale(0.95) translateY(2px); 
                }


            }
        }

    }

    
}
.menu-bar{
    color: #fff;
    
    &-heading{
        margin-bottom: 0;
        line-height: 24px;
        color: var(--color-grey-light-1);
        font-weight: 400;
        font-size: 1.5rem;
    }

    &-buttons{
        margin-left: auto;
        
        & span{
            margin-right: 1.5rem;
            

        }
        
        &-icon{
            
            
            width: 1.25rem;
            height: 1.25rem;
            
            cursor: pointer;
            color: var(--color-grey-light-1);
            transition: all .3s ease;

            &:hover{
                color: $color-primary;
                transform: scale(1.05);
            }
        }
    }
}
.MuiButtonBase-root.MuiTab-root{
    min-width: 15rem;

    &.Mui-selected {
        color: #C5CAE9;
        
    }
}
.controls{
    display: flex;
    align-items: end; 
    margin-left: 1rem;
    margin-bottom: .5rem;
    color: var(--color-grey-light-3);
    & .select-all{
        margin-bottom: 0;
        

        & .form-check-label{
            color: var(--color-grey-light-3);
        }
    }

    &-edit-buttons{
        margin-left: auto;
    }

    & .MuiButton-root{
        
        
        margin-right: 1rem;
    }
}
span.MuiTabs-indicator  {
    background-color: #C5CAE9;
}

$n: 10;

@for $i from 1 through $n {
  .task:nth-child(#{$i}) {
    animation-delay: .2555s * ($i - 1);
    
  }
}

input[type="datetime-local"] {
    
    box-sizing: border-box;
    outline: 0;
    padding: .75rem;
    position: relative;
    width: 100%;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
.MuiButtonBase-root.MuiTab-root  {
    @media only screen and (max-width:900px){
        min-width: 10rem;
    }
}