:root {
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #1C1B1F;
  --color-grey-dark-2: #333;
  --color-grey-dark-3: #777;
  --color-grey-dark-4: #999;
  --color-primary: #5946D2;
  --bs-primary: #5946D2;
  --bs-blue: #5946D2; }

* {
  padding: 0;
  margin: 0; }

*::after, *::before, * {
  box-sizing: inherit; }

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 100%; }

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px; }
  @media only screen and (max-width: 900px) {
    body {
      font-size: 16px; } }

.content .navbar {
  background-color: var(--color-grey-light-1);
  padding-left: 1rem;
  padding-right: 1.5rem; }
  .content .navbar::before {
    content: "";
    position: absolute;
    background-color: transparent;
    left: 0;
    bottom: -30px;
    height: 30px;
    width: 15px;
    border-top-left-radius: 15px;
    box-shadow: 0 -15px 0 0 var(--color-grey-light-1);
    /* This is where the magic happens! */ }
  .content .navbar.fixed-top {
    left: 280px;
    transition: left .3s ease; }
    .content .navbar.fixed-top.closed {
      left: 100px; }
  .content .navbar .btn {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    background-color: #5946D2; }

.home {
  position: relative;
  min-height: calc(100vh - 4.2125rem);
  padding: 4rem;
  background-color: #5187ed;
  box-shadow: inset 2px 2px 9px -6px rgba(0, 0, 0, 0.3);
  margin-top: 4.2125rem; }
  @media only screen and (max-width: 900px) {
    .home {
      padding: 2rem 1rem; } }

.form-label {
  margin-bottom: 0;
  margin-top: 1rem; }

.sidebar {
  position: relative;
  width: 280px;
  min-height: 100vh;
  background-color: var(--color-grey-light-1);
  display: flex;
  flex-direction: column;
  transition: all .3s ease;
  padding: 0 1.25rem;
  color: var(--color-grey-dark-1);
  z-index: 1;
  min-width: 280px; }
  .sidebar.fixed {
    position: fixed;
    z-index: 1030; }
  .sidebar.closed {
    width: 100px;
    min-width: 100px; }
    .sidebar.closed .sidebar-header-heading {
      width: 0; }
      .sidebar.closed .sidebar-header-heading-text {
        width: 0;
        margin-left: 0; }
      .sidebar.closed .sidebar-header-heading-icon {
        margin-right: 0;
        margin-left: .5rem; }
    .sidebar.closed .sidebar-link {
      padding-left: 1.25rem; }
      .sidebar.closed .sidebar-link-text {
        width: 0;
        margin-left: 0; }
    .sidebar.closed .sidebar-link-icon {
      margin-left: 0; }
      .sidebar.closed .sidebar-link-icon-expand {
        margin-left: 0;
        width: 0; }
  .sidebar-toggle {
    transition: margin .3s ease;
    line-height: 1;
    text-align: center;
    transition: right .3s ease;
    margin-left: -4rem; }
    .sidebar-toggle-icon {
      width: 1.5rem;
      height: 1.5rem;
      fill: var(--color-grey-dark-4);
      cursor: pointer; }
      .sidebar-toggle-icon:hover {
        fill: #5946D2; }
  .sidebar-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1rem 0;
    padding-top: .8125rem;
    padding-bottom: .825rem; }
    .sidebar-header-heading {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: flex-start;
      overflow: hidden;
      transition: margin .3s ease,width .3s ease, padding .3s ease;
      flex-wrap: nowrap;
      font-size: larger; }
      .sidebar-header-heading-icon {
        transition: margin .3s ease;
        margin-right: .5rem; }
      .sidebar-header-heading-text {
        white-space: nowrap;
        overflow: hidden;
        padding: 0;
        overflow: hidden;
        width: 80%;
        transition: margin .3s ease,width .3s ease, padding .3s ease;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        font-weight: 500; }
        .sidebar-header-heading-text-email {
          color: var(--color-grey-dark-4); }
  .sidebar-search {
    padding: 1.25rem 0; }
    .sidebar-search-input {
      padding-top: .75rem;
      padding-bottom: .75rem; }
  .sidebar-link {
    display: flex;
    padding: .625rem 0;
    color: var(--color-grey-dark-1);
    text-decoration: none;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    padding-right: .25rem;
    border-radius: 8px;
    margin-bottom: 8px;
    transition: margin .3s ease,width .3s ease, padding .3s ease; }
    .sidebar-link:hover, .sidebar-link.selected {
      background-color: rgba(89, 70, 210, 0.08);
      color: var(--color-grey-dark-1); }
    .sidebar-link.selected {
      background-color: rgba(89, 70, 210, 0.3); }
    .sidebar-link-text {
      margin-left: 1rem;
      overflow: hidden;
      vertical-align: middle;
      align-self: center;
      transition: margin .3s ease,width .3s ease, padding .3s ease;
      padding: 0;
      text-overflow: ellipsis;
      width: 50%; }
    .sidebar-link-icon {
      width: 16px;
      height: 1rem;
      transition: margin .3s ease,width .3s ease, padding .3s ease;
      vertical-align: baseline;
      margin-left: .5rem; }
      .sidebar-link-icon-expand {
        margin-left: auto;
        transition: margin .3s ease,width .3s ease, padding .3s ease;
        fill: var(--color-grey-dark-2); }
  .sidebar .divider {
    background-color: #e5e5e5;
    border-bottom: 1px solid #ffffff;
    height: 1px;
    overflow: hidden; }

.loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.35);
  z-index: 2030;
  display: flex;
  align-items: center;
  justify-content: center; }
  .loader .spinner-border {
    width: 5rem;
    height: 5rem;
    border-width: .5rem; }

.btn.btn-primary {
  background-color: #5946D2;
  border-color: #5946D2;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
  background-color: #5946D2; }
  .btn.btn-primary:focus {
    box-shadow: 0 0 0 0.25rem rgba(89, 70, 210, 0.5); }
  .btn.btn-primary.add-button {
    align-self: flex-start;
    margin-bottom: .5rem; }

.task {
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) backwards;
  border-radius: 1rem !important;
  align-items: center;
  font-size: 14px;
  flex-shrink: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background: var(--color-grey-light-1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); }
  .task:not(:first-child) {
    margin-top: .5rem; }
  .task:hover .task-actions-icon {
    opacity: 1; }
  .task-check {
    align-self: center;
    width: 5%; }
  .task-details {
    width: 25%;
    max-width: 25%;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    color: var(--color-grey-dark-1);
    justify-content: space-between;
    line-height: 1;
    align-self: stretch; }
    .task-details-name {
      margin-bottom: .5rem; }
      .task-details-name[contenteditable="true"] {
        border: 1px dashed #5946D2; }
    .task-details-date {
      color: var(--color-grey-dark-4); }
      .task-details-date[contenteditable="true"] {
        border: 1px dashed #5946D2; }
  .task-description {
    width: 35%;
    font-weight: 400;
    flex-grow: 1;
    color: var(--color-grey-dark-1);
    max-width: 35%; }
    .task-description[contenteditable="true"] {
      border: 1px dashed #5946D2; }
  .task-actions {
    margin-left: auto;
    align-self: center;
    display: flex;
    width: 10%;
    justify-content: flex-end; }
    .task-actions-icon {
      opacity: 0;
      padding: 0 !important;
      text-align: center;
      transition: opacity .3s ease; }
      .task-actions-icon:not(:last-child) {
        margin-right: .5rem; }
      .task-actions-icon.true {
        opacity: 1; }
      .task-actions-icon svg {
        cursor: pointer; }
      .task-actions-icon-delete {
        fill: #ffc107; }
      .task-actions-icon-complete {
        fill: #5946D2; }
      .task-actions-icon-loading {
        width: 1rem;
        height: 1rem;
        vertical-align: middle; }
      .task-actions-icon-importance {
        fill: #F85977;
        transition: all .3s ease; }
        .task-actions-icon-importance:hover {
          fill: #e10a32; }

.menu-bar {
  color: #fff; }
  .menu-bar-heading {
    margin-bottom: 0;
    line-height: 24px;
    color: var(--color-grey-light-1);
    font-weight: 400;
    font-size: 1.5rem; }
  .menu-bar-buttons {
    margin-left: auto; }
    .menu-bar-buttons span {
      margin-right: 1.5rem; }
    .menu-bar-buttons-icon {
      width: 1.25rem;
      height: 1.25rem;
      cursor: pointer;
      color: var(--color-grey-light-1);
      transition: all .3s ease; }
      .menu-bar-buttons-icon:hover {
        color: #5946D2;
        transform: scale(1.05); }

.MuiButtonBase-root.MuiTab-root {
  min-width: 15rem; }
  .MuiButtonBase-root.MuiTab-root.Mui-selected {
    color: #C5CAE9; }

.controls {
  display: flex;
  align-items: end;
  margin-left: 1rem;
  margin-bottom: .5rem;
  color: var(--color-grey-light-3); }
  .controls .select-all {
    margin-bottom: 0; }
    .controls .select-all .form-check-label {
      color: var(--color-grey-light-3); }
  .controls-edit-buttons {
    margin-left: auto; }
  .controls .MuiButton-root {
    margin-right: 1rem; }

span.MuiTabs-indicator {
  background-color: #C5CAE9; }

.task:nth-child(1) {
  animation-delay: 0s; }

.task:nth-child(2) {
  animation-delay: 0.2555s; }

.task:nth-child(3) {
  animation-delay: 0.511s; }

.task:nth-child(4) {
  animation-delay: 0.7665s; }

.task:nth-child(5) {
  animation-delay: 1.022s; }

.task:nth-child(6) {
  animation-delay: 1.2775s; }

.task:nth-child(7) {
  animation-delay: 1.533s; }

.task:nth-child(8) {
  animation-delay: 1.7885s; }

.task:nth-child(9) {
  animation-delay: 2.044s; }

.task:nth-child(10) {
  animation-delay: 2.2995s; }

input[type="datetime-local"] {
  box-sizing: border-box;
  outline: 0;
  padding: .75rem;
  position: relative;
  width: 100%; }

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto; }

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes slide-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
